body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.chart {
  display: flex;
  flex-direction: column;
}

.bar-container {
  display: flex;
  margin-bottom: 2px;
}

.bar-name {
  width: 200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.date-range {
  font-weight: normal;
  color: gray;
}

.bar {
  height: 50px;
  border: 1px solid black;
}

.bar-number {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
}